---
title: The Larremore Lab
layout: splash
permalink: /
header:
    overlay_color: "#000"
    overlay_filter: "0.2"
    overlay_image: /assets/images/mountains.jpg
excerpt: "Department of Computer Science<br>& BioFrontiers Institute<br>University of Colorado Boulder."
analytics:
  provider: "google-gtag"
  google:
    tracking_id: "UA-36889698-2"
    anonymize_ip: false 
---

<div>
<h2>COVID Resources</h2>
<ul>
  <li>[<a href="https://science.sciencemag.org/lookup/doi/10.1126/science.abe6959">Science</a>]
  Model-informed COVID-19 vaccine prioritization strategies by age and serostatus.</li>
  <li>[<a href="https://www.nejm.org/doi/full/10.1056/NEJMp2025631">New England Journal of Medicine</a>] 
  Rethinking Covid-19 Test Sensitivity — A Strategy for Containment</li>
  <li>[<a href="https://advances.sciencemag.org/content/early/2020/11/20/sciadv.abd5393">Science Advances</a>] Test sensitivity is secondary to frequency and turnaround time for COVID-19 screening</li>
  <li>[<a href="https://www.nature.com/articles/s41467-020-18271-5">Nature Communications</a>] 
  Reductions in commuting mobility correlate with geographic differences in SARS-CoV-2 prevalence in New York City</li>
  <li>[<a href="https://www.medrxiv.org/content/10.1101/2020.04.15.20067066v1">eLife</a>] 
  Estimating SARS-CoV-2 seroprevalence and epidemiological parameters with uncertainty from serological surveys</li>
  <li>[<a href="https://academic.oup.com/cid/article/doi/10.1093/cid/ciaa1019/5873748">Clinical Infectious Diseases]</a>
  Implications of test characteristics and population seroprevalence on 'immune passport' strategies</li>
  <li>[<a href="https://www.medrxiv.org/content/10.1101/2020.06.04.20122093v1">KDD Workshop on Humanitarian Mapping</a>] 
  Case Study: Using Facebook Data to Monitor Adherence to Stay-at-home Orders in Colorado and Utah</li> 
  <li>[<a href="https://www.medrxiv.org/content/10.1101/2020.11.30.20241174v2">PDF</a>] 
  Modeling the effectiveness of olfactory testing to limit SARS-2-CoV transmission</li>
  <li>[<a href="https://www.medrxiv.org/content/10.1101/2020.07.28.20163451v1">PDF</a>] 
  Serial population based serosurvey of antibodies to SARS-CoV-2 in a low and high transmission area of Karachi, Pakistan</li>
  <li>[<a href="https://www.biorxiv.org/content/10.1101/2020.05.23.112649v1">PDF</a>] 
  Jointly modeling prevalence, sensitivity and specificity for optimal sample allocation</li>
  <li><a href="/covid19testgroup">prevalence & screening calculators</a></li>
  <li><a href="http://vaxfirst.colorado.edu">vaccine prioritization calculator</a>
</ul>

<h2>About the lab</h2>
  <div id="chartContainer"> 
    <div id="chart">
        {% include webweb.html webweb_json=site.data.index_web responsive=true %}
        <p id="chartInfo">Larremore Lab Collaboration Graph.</p>
    </div>
  </div>
  <div>
  <p>The Larremore Lab focuses on developing methods of networks, dynamical systems, and statistical inference, to solve problems in biological and social systems. We try to keep a tight loop between data and theory, and learn a lot from confronting models and algorithms with real problems.</p>

  <p>In biological systems, we focus on the spread and evolution of infectious disease. In spite of shifted focus toward COVID modeling and seroepidemiology to meet the needs of the current moment, we focus on the malaria parasite <em>P. falciparum</em> which evolves rapidly to evade the human immune system. Our goal is to understand the interplay between parasite evolution and human immunity, and its implications for parasite virulence, population structure, and epidemiology. </p>

  <p>In social systems, we focus on understanding the  patterns and processes that define the ecosystem of scientific research and discovery. Our goal is to combine rigorous computation, ecological theory, and social science to understand how the scientific community can be made more equitable and more productive.</p>

  The Larremore Lab is led by <a href="/dan">Dan Larremore</a>, an assistant professor at the University of Colorado Boulder in the <a href="https://www.colorado.edu/cs/">Department of Computer Science</a> and the <a href="https://www.colorado.edu/biofrontiers/">BioFrontiers Institute</a>, with an affiliation with the <a href="https://www.colorado.edu/amath/">Department of Applied Mathematics</a>, and with the <a href="https://ccdd.hsph.harvard.edu/">Center for Communicable Disease Dynamics</a> at the Harvard T.H. Chan School of Public Health. The lab is part of CU's <a href="https://www.colorado.edu/cs/research/complex-systems">Complex Systems Group</a> and many students in the lab are also officers in the Boulder/Denver chapter of the <a href="https://twitter.com/official_SYNS">Society of Young Network Scientists</a>. 
  </div>
</div>

<div>
<h2>Lab News</h2>
<ul>
  {% for event in site.data.events %}
  <li>
    {% if event.date%}
      <b>{{event.date}} - </b>
    {% endif %}
    {{event.description}}
  </li>
  {% endfor %}
</ul>
</div>
