---
title: The Larremore Lab
layout: splash
permalink: /
header:
    overlay_color: "#000"
    overlay_filter: "0.2"
    overlay_image: /assets/images/mountains.jpg
excerpt: "Department of Computer Science<br>& BioFrontiers Institute<br>University of Colorado Boulder."
analytics:
  provider: "google-gtag"
  google:
    tracking_id: "UA-36889698-2"
    anonymize_ip: false 
---

<div>
<h2>About the lab</h2>
  <div id="chartContainer"> 
    <div id="chart">
        {% include webweb.html webweb_json=site.data.index_web responsive=true %}
        <p id="chartInfo">Larremore Lab Collaboration Graph.</p>
    </div>
  </div>
  <div>
  <p>The Larremore Lab focuses on developing methods of networks, dynamical systems, and statistical inference, to solve problems in biological and social systems. We try to keep a tight loop between data and theory, and learn a lot from confronting models and algorithms with real problems.</p>

  <p>In biological systems, we focus on the spread and evolution of infectious disease. In spite of shifted focus toward COVID modeling and seroepidemiology to meet the needs of the current moment, we focus on the malaria parasite <em>P. falciparum</em> which evolves rapidly to evade the human immune system. Our goal is to understand the interplay between parasite evolution and human immunity, and its implications for parasite virulence, population structure, and epidemiology. </p>

  <p>In social systems, we focus on understanding the  patterns and processes that define the ecosystem of scientific research and discovery. Our goal is to combine rigorous computation, ecological theory, and social science to understand how the scientific community can be made more equitable and more productive.</p>

  The Larremore Lab is led by <a href="/dan">Dan Larremore</a>, an assistant professor at the University of Colorado Boulder in the <a href="https://www.colorado.edu/cs/">Department of Computer Science</a> and the <a href="https://www.colorado.edu/biofrontiers/">BioFrontiers Institute</a>, with an affiliation with the <a href="https://www.colorado.edu/amath/">Department of Applied Mathematics</a>, and with the <a href="https://ccdd.hsph.harvard.edu/">Center for Communicable Disease Dynamics</a> at the Harvard T.H. Chan School of Public Health. The lab is part of CU's <a href="https://www.colorado.edu/cs/research/complex-systems">Complex Systems Group</a> and many students in the lab are also officers in the Boulder/Denver chapter of the <a href="https://twitter.com/official_SYNS">Society of Young Network Scientists</a>. 
  </div>
</div>

<div>
<h2>Lab News</h2>
<ul>
  {% for event in site.data.events %}
  <li>
    {% if event.date%}
      <b>{{event.date}} - </b>
    {% endif %}
    {{event.description}}
  </li>
  {% endfor %}
</ul>
</div>
