---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

figure {
    display: inline-block;
    // border: 1px dotted gray;
    margin: 0px;
}
figure img {
    vertical-align: top;
    margin: 0px;
}
figure figcaption {
    //border: 1px dotted blue;
    text-align: center;
    margin-bottom: 1em;
    
}